/*------------------------------------------------*/
/*	General Styles
/*------------------------------------------------*/
/* line 5, ../../sass/partials/_general.scss */
html,
body {
    height: 100%;
}
body {
    background: #ececec none repeat scroll 0 0;
    color: #555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
h1, h2 {
    font-family: 'Lato';
    font-weight: 300;
}
h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
hr {
    border-top-color: #ddd;
}
hr.inner-separator {
    border-style: dashed;
}
label {
    font-weight: 300;
}
blockquote {
    border-color: #e4e4e4;
}
input {
    border-radius: 0;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

.note-editor .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-control, .input-group .form-control {
    border-radius: 0;
    box-shadow: none;
}

.input-group-addon {
    background-color: #fff;
    border-radius: 0;
}

.btn {
    border-radius: 0;
    font-family: 'Lato';
    font-weight: 300;
}

.alert {
    border-radius: 0;
}

.wrapper {
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
}

.dropdown-menu > li > a {
    color:#777777;
}

.full-page-wrapper.wrapper {
    height: 96%;
    min-height: 96%;
}
.full-page-wrapper .inner-page {
    padding-top: 5%;
}
.page-auth .logo {
    margin-bottom: 40px;
}
.page-auth .separator {
    margin: 30px auto;
    position: relative;
    width: 100%;
}
.page-auth .separator:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: "";
    vertical-align: middle;
    height: 0;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 9px;
    left: 10px;
    right: 10px;
}
.page-auth .separator span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    background-color: #ececec;
    padding: 0 8px;
}
@media screen and (min-width: 768px) {
    .page-auth .separator {
        width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .page-auth .separator {
        width: 31%;
    }
}

.page-auth .center-block {
    width: 100%;
    border: 1px solid #ddd;
    padding: 25px;
    text-align: left;
    background-color: #f1f1f1;
}
.page-auth .center-block .title {
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 15px;
}
.page-auth .center-block form > input {
    margin-bottom: 15px;
}
.page-auth .center-block form > input:focus {
    border-color: #ccc;
}
.page-auth .center-block .btn-auth {
    margin-top: 20px;
}
.page-auth .center-block .links {
    margin-top: 30px;
    text-align: center;
}
.page-auth .center-block .links p {
    margin-bottom: 0;
    font-size: 0.9em;
}
.page-auth .center-block .links p a:hover {
    text-decoration: none;
}
@media screen and (min-width: 768px) {
    .page-auth .center-block {
        width: 50%;
    }
}
@media screen and (min-width: 992px) {
    .page-auth .center-block {
        width: 30%;
    }
}

.btn-custom-primary {
    background-color: #e24715;
    border-color: #cb4013;
    color: #fff;
}

.bottom-30px {
    margin-bottom: 30px;
}

/**
* Fancy Buttons
**/
.fancy-checkbox {
    display: block;
}
.fancy-checkbox input[type="checkbox"] {
    display: none;
}
.fancy-checkbox input[type="checkbox"] + span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}
.fancy-checkbox input[type="checkbox"] + span:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    bottom: 1px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    content: "";
    border: 1px solid #ccc;
}
.fancy-checkbox input[type="checkbox"]:checked + span:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 12px;
    color: #99a1a7;
    text-align: center;
    line-height: 16px;
    background: #ededed;
    border: 1px solid #ccc;
}
.fancy-checkbox.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53D76A;
    background-color: #fff;
}
.fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53D76A;
    border-color: #32cf4d;
}

.fancy-radio {
    display: block;
}
.fancy-radio input[type="radio"] {
    display: none;
}
.fancy-radio input[type="radio"] + span {
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}
.fancy-radio input[type="radio"] + span i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    bottom: 1px;
    content: "";
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.fancy-radio input[type="radio"]:checked + span i:after {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #99a1a7;
}
.fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53D76A;
}
.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53D76A;
}
.fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
    background-color: #fff;
}
.input-group-addon .fancy-radio,
.input-group-addon .fancy-checkbox {
    margin: 0;
}
.input-group-addon .fancy-radio input[type="radio"] + span i,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span {
    margin: 0;
}
.input-group-addon .fancy-radio input[type="radio"] + span i:before,
.input-group-addon .fancy-checkbox input[type="checkbox"] + span:before {
    margin: 0;
}


.top-general-alert {
    padding: 10px 15px;
    margin-bottom: 0;
    border: none;
    text-align: center;
    display: none;
}
.top-general-alert .close {
    text-decoration: none;
    position: relative;
    top: -3px;
    font-size: 12px;
    float: none;
}
@media screen and (max-width: 992px) {

    .top-general-alert {
        position: relative;
        padding-right: 45px;
        text-align: left;
    }

    .top-general-alert .close {
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 3em;
    }
}

.content-wrapper {
    padding: 15px 30px;
}

/**
* Dashboard
**/
/*------------------------------------------------*/
/*	Top
/*------------------------------------------------*/
.top-bar {
    background-color: #ec1c24;
}
.top-bar .logo {
    position: relative;
    padding: 10px 0;
}
.navbar.navbar-default{
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    min-height: 30px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #C20000;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-bar .top-bar-right {
    text-align: right;
    padding-right: 15px;
}
.top-bar .top-bar-right .btn-link {
    color: #ddd;
}
.top-bar .top-bar-right .btn-link:hover {
    color: #fff;
}
.top-bar .top-bar-right #global-volume {
    padding: 0;
}
@media screen and (min-width: 480px) {
    .top-bar .top-bar-right #global-volume {
        padding: initial;
    }
}
.top-bar .top-bar-right #start-tour {
    display: none;
}
@media screen and (min-width: 480px) {
    .top-bar .top-bar-right #start-tour {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
    }
}
@media screen and (min-width: 992px) {
    .top-bar .top-bar-right {
        float: right;
        position: relative;
        top: 2px;
    }
}
.top-bar .searchbox {
    margin: 10px 0;
    padding-left: 0;
    top: 3px;
}
.top-bar .searchbox input[type="search"] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 3px 6px;
    height: 28px;
    font-size: 0.85em;
    color: #fff;
    background-color: #4d4d4d;
    border-color: #484848;
    -webkit-appearance: none;
}
.top-bar .searchbox .btn {
    padding: 3px 6px;
    background-color: #4d4d4d;
    border-color: #484848;
}
.top-bar .searchbox .btn i {
    color: #343434;
}
.top-bar .searchbox .btn:hover {
    border-color: #484848;
}
.top-bar .searchbox .btn:hover i {
    color: #1a1a1a;
}
@media screen and (min-width: 992px) {
    .top-bar .searchbox {
        width: 16em;
        padding-left: 15px;
        margin: 0;
    }
}
.top-bar .notifications,
.top-bar .logged-user {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: left;
}
.top-bar .dropdown-menu {
    padding: 0;
}
.top-bar .dropdown-menu > li > a {
    padding: 8px;
}
.top-bar .dropdown-menu > li > a:hover {
    background-color: #fafafa;
}
.top-bar .notifications {
    margin-left: 10px;
    margin-right: 28px;
}
.top-bar .notifications .notification-item {
    position: relative;
    margin-left: 25px;
}
.top-bar .notifications .notification-item .open .circle {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 19px;
    left: 4px;
    background-color: #fff;
}
.top-bar .notifications .notification-item .btn-group.open > a {
    color: #fff;
}
.top-bar .notifications .notification-item .btn-group > a {
    color: #fff;
}
.top-bar .notifications .notification-item .btn-group > a:hover {
    color: #fff;
    text-decoration: none;
}
.top-bar .notifications .notification-item i-circle {
    color: #fff;
}
.top-bar .notifications .btn-group.open .dropdown-toggle {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.top-bar .notifications > ul {
    list-style-type: none;
}
.top-bar .notifications > ul, .top-bar .notifications > ul li {
    margin: 0;
    padding: 0;
    display: inline;
}
.top-bar .notifications > ul > li li {
    display: block;
    padding: 0;
    border-top: 1px solid #f1f1f1;
}
.top-bar .notifications > ul > li li:first-child {
    border-top: none;
}
.top-bar .notifications .count {
    position: absolute;
    top: -7px;
    left: 58%;
    padding: 0px 5px;
    border-radius: 30px;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    border-width: 2px;
    border-style: solid;
    color: #fff;
    background: #E60404 !important;
    border-color: #555;
}
.top-bar .notifications .dropdown-menu {
    top: 26px;
    width: 350px;
}
@media screen and (max-width: 480px) {
    .top-bar .notifications .dropdown-menu {
        width: 305px;
    }
}
.top-bar .notifications .dropdown-menu .notification-header {
    font-size: 0.85em;
    font-weight: 700;
    line-height: 2;
    padding: 5px 8px;
}
.top-bar .notifications .dropdown-menu .notification-footer a {
    text-align: center;
    font-size: 0.85em;
}
.top-bar .notifications .dropdown-menu .notification-footer a:hover {
    background: none;
    text-decoration: underline;
}
.top-bar .notifications .dropdown-menu .text {
    font-size: 0.85em;
    margin-bottom: 0;
    color: #888888;
}
.top-bar .notifications .dropdown-menu .timestamp {
    font-size: 0.75em;
    color: #888888;
}
.top-bar .notifications .inbox .dropdown-menu {
    left: -141px;
}
@media screen and (max-width: 480px) {
    .top-bar .notifications .inbox .dropdown-menu {
        left: -7.5em;
    }
}
.top-bar .notifications .inbox .inbox-item {
    display: block;
}
.top-bar .notifications .inbox .inbox-item.unread {
    background-color: #E7E7E7;
}
.top-bar .notifications .inbox img {
    width: 32px;
}
.top-bar .notifications .inbox .name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    color: #555;
    font-weight: 700;
    margin-bottom: 0;
}
.top-bar .notifications .general .dropdown-menu {
    left: -183px;
}
.top-bar .notifications .general .dropdown-menu li a i {
    min-width: 14px;
}
.top-bar .notifications .general .dropdown-menu li a .timestamp {
    float: right;
}
@media screen and (max-width: 480px) {
    .top-bar .notifications .general .dropdown-menu {
        left: -10.5em;
    }
}
.top-bar .logged-user .btn {
    padding: 0;
    border: none;
    font-size: 0.9em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.top-bar .logged-user .btn .name {
    font-weight: 400;
}
.top-bar .logged-user .btn .caret {
    border-top-color: #fff;
}
.top-bar .logged-user .btn:hover {
    color: #fff;
    text-decoration: none;
}
.top-bar .logged-user .btn img {
    border: 1px solid #5e5e5e;
}
.top-bar .logged-user .open .btn {
    color: #fff;
}
.top-bar .logged-user .dropdown-menu {
    left: -38px;
    top: 22px;
    padding: 0;
    box-shadow: none;
}
.top-bar .logged-user .dropdown-menu > li {
    border-top: 1px solid #f1f1f1;
}
.top-bar .logged-user .dropdown-menu > li:first-child {
    border-top: none;
}
.top-bar .logged-user .dropdown-menu > li > a {
    color: #555;
    font-size: 0.9em;
}
.top-bar.navbar-fixed-top + .bottom {
    margin-top: 44px;
}
@media screen and (max-width: 991px) {
    .top-bar.navbar-fixed-top + .bottom {
        margin-top: 112px;
    }
}

.top-content {
    margin-bottom: 20px;
    text-align: right;
}
.top-content ul.mini-stat {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-bottom: 0;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat {
        display: block;
    }
}
.top-content ul.mini-stat > li {
    border-left: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
}
.top-content ul.mini-stat > li:first-child {
    border-left: none;
}
@media screen and (max-width: 992px) {
    .top-content ul.mini-stat > li {
        width: 100%;
        border-left: none;
        padding-bottom: 15px;
    }
}
@media screen and (min-width: 992px) {
    .top-content ul.mini-stat > li {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.top-content ul.mini-stat h5 {
    float: left;
    margin: 0;
    text-align: left;
    font-size: 0.85em;
    color: #888888;
}
.top-content ul.mini-stat h5 .stat-value {
    display: block;
    font-size: 1.5em;
    margin-top: 3px;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-seagreen {
    color: #3F7577;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-blue {
    color: #1D92AF;
}
.top-content ul.mini-stat h5 .stat-value.stat-color-orange {
    color: #CE7B11;
}
.top-content .mini-bar-chart {
    display: block;
    float: right;
    margin: 6px 0 0 20px;
}
.top-content ul.quick-access {
    margin-bottom: 0;
}
.top-content ul.quick-access > li {
    width: 15em;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .top-content ul.quick-access > li {
        width: 100%;
    }
}
.top-content ul.quick-access > li a, .top-content ul.quick-access > li a:focus, .top-content ul.quick-access > li a:hover {
    text-decoration: none;
}
.top-content ul.quick-access > li .quick-access-item {
    display: block;
    position: relative;
    background-color: #555;
    color: #fff;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}
.top-content ul.quick-access > li .quick-access-item h5, .top-content ul.quick-access > li .quick-access-item p {
    margin: 0;
}
.top-content ul.quick-access > li .quick-access-item em {
    font-size: 0.85em;
}
.top-content ul.quick-access > li .quick-access-item i {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: absolute;
    top: 0.15em;
    right: -0.1em;
    font-size: 5em;
}
.top-content ul.quick-access > li .quick-access-item:hover i {
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.top-content ul.quick-access > li .quick-access-item.bg-color-red {
    background-color: #fe391d;
}
.top-content ul.quick-access > li .quick-access-item.bg-color-blue {
    background-color: #1ba1bd;
}
.top-content ul.quick-access > li .quick-access-item.bg-color-yellow {
    background-color: #f1ab22;
}

.main-header {
    margin-bottom: 50px;
}
.main-header h2 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    border-right: 1px solid #ccc;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    .main-header h2 {
        display: block;
        border-right: none;
    }
}
.main-header em {
    color: #bbbbbb;
}
.bottom .container .content-wrapper {
    background-color: #f1f1f1;
    border-left: 1px solid #e4e4e4;
}
.main-content {
    padding-bottom: 30px;
}
.row-widget {
    margin-bottom: 0;
}

/*------------------------------------------------*/
/*	Main Navigation
/*------------------------------------------------*/
/* line 5, ../../sass/partials/_navigation.scss */
.main-nav-toggle {
    float: left;
    color: #fff;
}
/* line 9, ../../sass/partials/_navigation.scss */
.main-nav-toggle i {
    font-size: 28px;
}
/* line 13, ../../sass/partials/_navigation.scss */
.main-nav-toggle:hover, .main-nav-toggle:focus {
    color: #ddd;
}

/* breadcrumb */
/* line 21, ../../sass/partials/_navigation.scss */
.breadcrumb li + li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #b2b6bf;
    margin-right: 2px;
    padding: 0 5px 0 2px;
    position: relative;
    top: 1px;
}

/* main menu */
/* line 34, ../../sass/partials/_navigation.scss */
ul.main-menu {
    padding-left: 0;
    list-style-type: none;
}
/* line 39, ../../sass/partials/_navigation.scss */
ul.main-menu > li a {
    display: block;
    position: relative;
    padding: 10px 0 10px 15px;
    color: #555;
    background-color: #ececec;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}
/* line 48, ../../sass/partials/_navigation.scss */
ul.main-menu > li a:hover {
    text-decoration: none;
    background-color: #f1f1f1;
}
/* line 55, ../../sass/partials/_navigation.scss */
ul.main-menu > li.active > a {
    font-weight: 700;
    background-color: #dfdfdf;
}
/* line 62, ../../sass/partials/_navigation.scss */
ul.main-menu > li:first-child > a {
    border-top: none;
}
/* line 67, ../../sass/partials/_navigation.scss */
ul.main-menu > li i {
    width: 14px;
    text-align: center;
}
/* line 72, ../../sass/partials/_navigation.scss */
ul.main-menu > li .text {
    padding-left: 8px;
    font-size: 0.9em;
}
/* line 77, ../../sass/partials/_navigation.scss */
ul.main-menu > li .toggle-icon {
    font-size: 14px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: 13px;
    text-shadow: none;
}
/* line 87, ../../sass/partials/_navigation.scss */
ul.main-menu .sub-menu {
    position: relative;
    display: none;
    padding-left: 0;
}
/* line 93, ../../sass/partials/_navigation.scss */
ul.main-menu .sub-menu li a {
    padding-left: 33px;
}
/* line 98, ../../sass/partials/_navigation.scss */
ul.main-menu .sub-menu li.active > a {
    font-weight: 700;
}
/* line 104, ../../sass/partials/_navigation.scss */
ul.main-menu .sub-menu.open {
    overflow: hidden;
    display: block;
}
/* line 109, ../../sass/partials/_navigation.scss */
ul.main-menu .sub-menu .sub-menu li a {
    padding-left: 50px;
}

/* line 115, ../../sass/partials/_navigation.scss */
ul.main-menu > li > a,
.content-wrapper {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* line 120, ../../sass/partials/_navigation.scss */
.left-sidebar {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-right: 0;
    padding-left: 0;
}
/* line 126, ../../sass/partials/_navigation.scss */
.left-sidebar.minified {
    width: 40px;
    margin-right: -40px;
    z-index: 9;
}
/* line 131, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li {
    position: relative;
}
/* line 134, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li i {
    width: 40px;
}
/* line 138, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li .toggle-icon {
    display: none;
}
/* line 142, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li > a {
    padding-left: 0;
}
/* line 145, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li > a > .text {
    position: absolute;
}
/* line 150, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li:hover > a > .text {
    position: absolute;
    display: block;
    left: 40px;
    top: 0;
    min-width: 200px;
    z-index: 9999;
    padding: 10px;
    border: 1px solid #ccc;
    line-height: 1.5;
    background: #ccc;
    font-weight: 700;
    opacity: 1 !important;
}
/* line 165, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu {
    display: block !important;
    min-width: 200px;
    position: absolute;
    margin-left: 40px;
    z-index: 9999;
    border: 1px solid #E4E4E4;
    border-top: none;
}
/* line 174, ../../sass/partials/_navigation.scss */
.left-sidebar.minified .main-menu > li:hover > ul.sub-menu > li > a {
    padding-left: 10px;
}
@media screen and (max-width: 992px) {
    /* line 120, ../../sass/partials/_navigation.scss */
    .left-sidebar {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    /* line 120, ../../sass/partials/_navigation.scss */
    .left-sidebar {
        display: block !important;
        overflow: visible !important;
    }
}

/* line 191, ../../sass/partials/_navigation.scss */
.sidebar-minified {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
    /* line 191, ../../sass/partials/_navigation.scss */
    .sidebar-minified {
        display: none;
    }
}
/* line 200, ../../sass/partials/_navigation.scss */
.sidebar-minified:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: "";
    height: 0;
    border-top: 1px solid #c4c4c4;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 13px;
}
/* line 212, ../../sass/partials/_navigation.scss */
.sidebar-minified i {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid #A2A2A2;
    color: #A2A2A2;
    padding: 4px;
    background-color: #f1f1f1;
    cursor: pointer;
}
/* line 225, ../../sass/partials/_navigation.scss */
.sidebar-minified i:hover {
    background-color: #f6f6f6;
}

/* main content navigation */
/* line 233, ../../sass/partials/_navigation.scss */
.main-content-nav ul {
    line-height: 34px;
}
/* line 237, ../../sass/partials/_navigation.scss */
.main-content-nav li {
    padding-left: 10px;
    padding-right: 10px;
}
/* line 241, ../../sass/partials/_navigation.scss */
.main-content-nav li a {
    color: #888888;
    text-decoration: none;
}
/* line 245, ../../sass/partials/_navigation.scss */
.main-content-nav li a:hover, .main-content-nav li a:focus {
    color: #555;
}
@media screen and (max-width: 768px) {
    /* line 232, ../../sass/partials/_navigation.scss */
    .main-content-nav {
        float: none !important;
        margin-top: 15px;
    }
}

.dropdown-menu, .panel, .well, code {
    border-radius: 0;
}

.container.dashboard{
    position: relative;
    top: 50%;
    transform: translateY(50%);
}


/**
* Panels
**/
.panel-stat{
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 25px 20px;
    position: relative;
}
.panel-stat {
    cursor: pointer;
    overflow: hidden
}
.panel-stat:hover .value {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease
}
.panel-stat:hover .title {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease
}
.panel-stat:hover .stat-icon {
    transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -webkit-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -moz-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -ms-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    -o-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
    opacity: .4;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease
}
.panel-stat .stat-icon {
    display: inline-block;
    float: left;
    font-size: 30px;
    line-height: 83px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease
}
.panel-stat .value {
    font-size: 60px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease
}
.panel-stat .title {
    font-size: 16px;
    margin-top: -15px;
    margin-right: 10px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease
}
.bg-danger{
    background-color: #fc8675;
}
.bg-danger:hover{
    background-color: #fe391d;
}
.bg-info{
    background-color: #6bafbd;
}
.bg-info:hover{
     background-color: #1ba1bd;
 }

.bg-warning{
    background-color: #f3ce85;
}
.bg-warning:hover{
    background-color: #f1ab22;
}

.widget {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-color: lightgray;
}
.widget.widget-table {
    overflow: hidden;
}
.widget.widget-hide-header {
    border: none;
    background: none;
}
.widget.widget-focus-enabled {
    z-index: 999;
    position: relative;
}
.widget.widget-quick-note .widget-content {
    padding: 0;
}
.widget.widget-quick-note input.title,
.widget.widget-quick-note textarea {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    resize: none;
}
.widget.widget-quick-note input.title {
    font-weight: 700;
}
.widget.widget-quick-note textarea:focus {
    outline: none;
}
.widget.quick-note-create .widget-footer {
    display: none;
}
.widget.quick-note-create input.title {
    display: none;
}
.widget.quick-note-saved:hover {
    cursor: pointer;
}
.widget .widget-header {
    padding: 0 10px;
    height: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    background-color: #eeeeee;
}
@media screen and (max-width: 480px) {
    .widget .widget-header {
        height: 100%;
    }
}
.widget .widget-header h3 {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.1em;
    margin: 8px 0;
    line-height: 35px;
    float: left;
}
@media screen and (max-width: 480px) {
    .widget .widget-header h3 {
        float: none;
    }
}
.widget .widget-header i {
    margin-right: 5px;
}
.widget .widget-header em {
    float: left;
    font-size: 0.9em;
    color: #a4a4a4;
    line-height: 35px;
    margin-left: 4px;
}
@media screen and (max-width: 1279px) {
    .widget .widget-header em {
        display: none;
    }
}
.widget .widget-header .btn-help {
    float: left;
    padding: 0;
    position: relative;
    top: 3px;
    left: 3px;
}
@media screen and (max-width: 1279px) {
    .widget .widget-header .btn-help {
        display: none;
    }
}
.widget .widget-header .btn-group > a {
    color: #555;
}
.widget .widget-header .widget-header-toolbar {
    float: right;
    width: auto;
    height: 50px;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    margin-left: 10px;
    min-width: 150px;
}
.widget .widget-header .widget-header-toolbar  button.glyphicon-search{
    width: 150px;
    font-size: 18px;
    padding: 5px 0;
    background-color: #626262;
    color: #ffffff;
    border: 1px solid #555555;
}
@media screen and (max-width: 480px) {
    .widget .widget-header .widget-header-toolbar {
        display: block;
        float: none;
        border-left: none;
        margin-left: 0;
        padding-left: 0;
    }
}
.widget .widget-header .widget-header-toolbar > a {
    margin-left: 5px;
}
.widget .widget-header .widget-header-toolbar.btn-init-hide {
    display: none;
}
.widget .widget-header .widget-header-toolbar.process-status {
    border-left: none;
}
.widget .widget-header .widget-header-toolbar.process-status i {
    font-size: 15px;
    line-height: 35px;
    margin-right: 0;
}
.widget .widget-header .widget-header-toolbar.process-status span {
    display: none;
}
.widget .widget-header .widget-header-toolbar .control-title {
    font-size: 0.9em;
    color: #a4a4a4;
    position: relative;
    top: 1px;
}
.widget .widget-header .widget-header-toolbar .label {
    position: relative;
    top: 8px;
}
.widget .widget-header .widget-header-toolbar .toolbar-item-group {
    padding-top: 0.5em;
    height: 100%;
}
.widget .widget-header .widget-header-toolbar .toolbar-item-group .label {
    position: relative;
    top: 1px;
}
.widget .widget-header .widget-header-toolbar .toolbar-item-group .multiselect {
    margin-top: 0;
}
.widget .widget-header .widget-header-toolbar .btn,
.widget .widget-header .widget-header-toolbar .btn-borderless {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}
.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    width: 200px;
    text-align: right;
    color: #777777;
}
.widget .widget-header .widget-header-toolbar .btn-borderless {
    padding-top: 5px;
}
.widget .widget-header .widget-header-toolbar .btn-borderless i {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.widget .widget-header .widget-header-toolbar .btn {
    margin-top: 5px;
}
.widget .widget-header .widget-header-toolbar .btn.btn-sm {
    padding: 0 10px;
}
.widget .widget-header .widget-header-toolbar .btn.btn-sm i {
    width: 10px;
    height: 12px;
}
.widget .widget-header .widget-header-toolbar .progress {
    width: 150px;
    height: 15px;
    margin-bottom: 0;
    margin-top: 10px;
}
.widget .widget-header .widget-header-toolbar .progress .progress-bar {
    font-size: 10px;
    line-height: 1.5;
}
.widget .widget-content {
    padding: 20px 10px;
}
.widget .widget-content h4 {
    font-size: 14px;
}
.widget .widget-content h5 {
    font-size: 13px;
}
.widget .widget-content h6 {
    font-size: 12px;
}
.widget .widget-footer {
    padding: 7px 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f0f0f0;
    background-color: #f7f7f7;
}

button.glyphicon-trash{
    background: none;
    border: none;
    color: #337ab7;
}

.paginacao {
    text-align: center;
}


/*------------------------------------------------*/
/*	Footer
/*------------------------------------------------*/
.footer {
    background-color: #555;
    color: #fff;
    font-size: 0.9em;
    padding: 10px;
    text-align: center;
    margin: -35px;
}